<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IVP - 내 정보</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/header::header"/>

<div class="container">
    <div class="row">
        <div class="col-2 px-0">
            <div class="row" style="height: 145px;"></div>
            <table style="width: 80%; background: #f0f0f0; border-radius: 10px;">
                <tr><td class="px-1" style="height: 50px; width: 100%; line-height: 100%; font-size: 17px;">
                    <a class="nav-link link-dark" href="/user/info">내 정보</a>
                </td></tr>
                <tr><td class="px-1" style="height: 50px; width: 100%; line-height: 100%; font-size: 17px;">
                    <a class="nav-link link-dark" href="/reservation/my/list">예매 내역</a>
                </td></tr>
            </table>
        </div>
        <div class="col-8">
            <div class="row py-5">
                <h2>내 정보</h2>
            </div>

            <table style="width:100%">
                <tr style="border-top: 2px solid #bbb">
                    <td style="width:180px; height:60px; padding-left:30px; background:#eef1f8; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;">아이디</td>
                    <td style="padding-left:30px; border-bottom: 1px solid #ddd;">[[${userInfo.loginId}]]</td>
                </tr>
                <tr>
                    <td style="width:180px; height:60px; padding-left:30px; background:#eef1f8; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;">비밀번호</td>
                    <td style="padding-left:30px; border-bottom: 1px solid #ddd;"><a role="button" class="btn btn-secondary" href="/user/modifyPassword">비밀번호 변경하기</a></td>
                </tr>
                <tr>
                    <td style="width:180px; height:60px; padding-left:30px; background:#eef1f8; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;">이름</td>
                    <td style="padding-left:30px; border-bottom: 1px solid #ddd;">[[${userInfo.name}]]</td>
                </tr>
                <tr>
                    <td style="width:180px; height:60px; padding-left:30px; background:#eef1f8; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;">가입일</td>
                    <td style="padding-left:30px; border-bottom: 1px solid #ddd;">[[${userInfo.createdDate}]]</td>
                </tr>
                <tr>
                    <td style="width:180px; height:60px; padding-left:30px; background:#eef1f8; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;">생년월일(6자리)</td>
                    <td style="padding-left:30px; border-bottom: 1px solid #ddd;">[[${userInfo.birthDate}]]</td>
                </tr>
            </table>

            <div class="row py-5">
                <div class="col-4"></div>
                <div class="col-4">
                    <a role="button" class="btn btn-secondary w-100 btn-lg" href="/user/delete">회원 탈퇴</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
var sPageURL = window.location.search.substring(1);
var sURLVariables = sPageURL.split('&');
var sParameterName;
var i;

for (i = 0; i < sURLVariables.length; i++) {
    sParameterName = sURLVariables[i].split('=');

    if (sParameterName[0] === 'modifyPassword' && sParameterName[1] === 'true') {
         alert('비밀번호가 변경되었습니다.');
    }
}
</script>
</body>
</html>